@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[x-cloak] { display: none !important; }

.datatable td {
    @apply p-2;
}

.datatable .sortable:before {
    position: absolute;
    content: '▲';
    top: 0;
    right: 0;
    padding: 2px 5px;
    opacity: .2;
    font-size: .7em;
}

.datatable .sortable:after {
    position: absolute;
    content: '▼';
    bottom: 0;
    right: 0;
    padding: 2px 5px;
    opacity: .2;
    font-size: .7em;
}

.datatable .sorting_asc:before {
    opacity: .8;
}

.datatable .sorting_desc:after {
    opacity: .8;
}


.water-tank {
    width: 20em;
    aspect-ratio: 1;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin-bottom: 2em;
}

.liquid-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.wave-layer {
    position: absolute;
    width: 600%;
    height: 100%;
    top: calc(var(--level, 100) * 1%);
    left: 0;
    animation: waveLR 10s linear infinite;
}

@keyframes waveLR {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-16.6666%);
    }
}

@keyframes waveRL {
    0% {
        transform: translateX(-16.6666%);
    }
    100% {
        transform: translateX(0);
    }
}
